<%= link_to "search",new_book_path %>

<% @books.each do |book| %>
  <div class="commic-data">
    <table>
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to (image_tag(book.large_image_url)), book.item_url %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.isbn %></td>
          <td><%= book.sales_date %></td>
          <td><%= book.item_price %>円</td>
          <td><%= book.item_caption %></td>
          <td><%= book.publisher_name %></td>
        </tr>
      </tbody>
  </div>
<% end %>